<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
		<link rel="stylesheet" href="bs/css/bootstrap.css">
		<script src="bs/js/jquery.min.js"></script>
		<script src="bs/js/bootstrap.js"></script>
		<link rel="stylesheet" href="css/user.css" />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	</head>

	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<a class="link713" href="">713</a>
				<span class="exp">后台管理系统</span>
			</div>
		</div>
		<div class="container container1">
			<div class="row">
				<div class="menu">
					<li class="item">
						<button class="butn"><i class="fas fa-bullhorn"></i>公告管理<i class="fas fa-chevron-right"></i></button>
						<div class="smenu">
							<a href=""><i class="fas fa-angle-right"></i> 公告</a>
						</div>
					</li>
					<li class="item">
						<button class="butn"><i class="fas fa-layer-group"></i>小组管理<i class="fas fa-chevron-right"></i></button>
						<div class="smenu">
							<a href=""><i class="fas fa-angle-right"></i> 团队情况</a>
							<a href=""><i class="fas fa-angle-right"></i> 团队项目</a>
						</div>
					</li>
					<li class="item">
						<button class="butn"><i class="fas fa-project-diagram"></i>项目管理<i class="fas fa-chevron-right"></i></button>
						<div class="smenu">
							<a href=""><i class="fas fa-angle-right"></i> Posts</a>
							<a href=""><i class="fas fa-angle-right"></i> Picture</a>
						</div>
					</li>
					<li class="item">
						<button class="butn"><i class="fas fa-users"></i>用户管理<i class="fas fa-chevron-right"></i></button>
						<div class="smenu">
							<a href="user.html"><i class="fas fa-angle-right"></i> 用户</a>
						</div>
					</li>
					<li class="item">
						<button class="butn"><i class="fas fa-user-graduate"></i>学生管理<i class="fas fa-chevron-right"></i></button>
						<div class="smenu">
							<a href=""><i class="fas fa-angle-right"></i> 学生信息</a>
						</div>
					</li>
					<li class="item">
						<button class="butn"><i class="fas fa-chalkboard-teacher"></i>老师管理<i class="fas fa-chevron-right"></i></button>
						<div class="smenu tea">
							<a href=""><i class="fas fa-angle-right"></i> 老师信息</a>
						</div>
					</li>
				</div>
			</div>
		</div>
		<div class="container container2">
			<div id="app">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">用户管理</h3>
					</div>
					<div class="panel-body form-inline">
						<label class="pull-left">
							搜索用户名:
							<input type="text" class="form-control" v-model="keywords"/>
						</label>
						<label class="pull-right">
							<input type="button" value="导出excel表格" class="btn btn-success"/>
						</label>
					</div>
				</div>
				
				
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<td>Id</td>
							<td>Name</td>
							<td>Ctime</td>
							<td>Introduction</td>
							<td>Role</td>
							<td>Operation</td>
						</tr>
					</thead>
					<tbody>
						<tr v-for="item in search(keywords)" :key="item.id">
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.ctime}}</td>
							<td>{{item.introduction}}</td>
							<td>{{item.role}}</td>
							<td>
								<button class="btn btn-primary">查看</button>
								<button class="btn btn-danger" @click="del(item.id)">删除</button>
								<input type="button" class="btn btn-info togglerole" value="设为管理员">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		
		
		
		<script type="text/javascript">
			var vm = new Vue({
				el: "#app",
				data: {
					id:'',
					name:'',
					ctime:'',
					introduction:'',
					keywords:'',
					list:[
						{id:1,name:"张三",ctime:new Date(),role:"用户",introduction:"我来自湖北武汉"},
						{id:2,name:"李四",ctime:new Date(),role:"用户",introduction:"我来自湖北宜昌"}
					]
				},
				methods:{
					del(id){
						this.list.some((item,i) =>{
							if(item.id==id){
								this.list.splice(i,1);
								return true;
							}
						})
					},
					search(keywords){
						var newList = []
						this.list.forEach(item=>{
							if(item.name.indexOf(keywords)!=-1){
								newList.push(item)
							}
						})
						return newList
					}
				}
			})
			$(".item button").click(function() {
				$(this).next().toggleClass("show");
				$(this).children(":last").toggleClass("fa-chevron-right");
				$(this).children(":last").toggleClass("fa-chevron-down");
				$(this).toggleClass("incolor");
				$(this).toggleClass("outcolor");
			});


			$(".togglerole").click(function(){
				if($(this).val()=="设为管理员"){
					$(this).val("取消管理员").parent().prev().text("管理员");
				}
				else{
					$(this).val("设为管理员").parent().prev().text("用户");
				}
			})
			$("#").click(function() {
				$.ajax({
					type: "POST",
					url: "",
					data: {
					},
					dataType: "json",
					success: function() {
						alert("成功");
						window.location.href = "";
					}
				});
			});
		</script>
	</body>

</html>
